/*DOCUMENT*/
@font-face {
    font-family: 'IntroRust-Base';
    src: url('IntroRust-Base.otf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
    background-color: white;
    color: white;
    font-family: 'IntroRust-Base';
    text-align: center;
    background-image: url('fundo2.jpg'); /* Substitua 'caminho-para-sua-imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover; /* Isso dimensionará a imagem para cobrir todo o corpo */
    background-repeat: no-repeat; /* Evita que a imagem de fundo se repita */
    background-attachment: fixed; /* Mantém a imagem de fundo fixa ao rolar a página */
}
.box{
    width: 80%;
    height: 80%;
    margin: 50px auto;
    border: 2px white solid;
    background-color: #4572F9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #f5fcf1;
    text-align: center;
}
input{
    height: 30px;
    width: 80%;
    margin-bottom: 20px;
}
#res{
    font-size:larger;
    color: white;
    text-align: center;
}
button {
    width: 170px;
    height: 35px;
    border-radius: 10px ;
    margin: 10px 4px;
    background-color: white;
    color: #4572F9;
    font-weight: bold; /* Adicionado negrito */
    cursor: pointer; /* Alterado o cursor para parecer mais clicável */
    font-family: Arial, Helvetica, sans-serif ;
    border: 2px solid #0E49F9;
    transition: all 0.3s ease; /* Adicione uma transição suave para as propriedades */
}

/* Estilo do botão quando passa o mouse por cima */
button:hover {
    background-color: #4572F9;
    color: white;
    box-shadow: 2px 2px 2px #f5fcf1;
    border: 1px solid white;
    transform: scale(1.1); /* Adicione um efeito de escala ao passar o mouse */
}
